{% extends "admin/base_site.html" %}

{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        {% for breadcrumb in breadcrumbs %}
        &rsaquo; <a href="{{ breadcrumb.0 }}">{{ breadcrumb.1 }}</a>
        {% endfor %}
        &rsaquo;{{ action_name }}
    </div>
{% endblock %}

{% block content %}
    <h1>{{ action_name }}</h1>
    <div class="content-main">
        <form method="POST" class="form-horizontal" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <fieldset class="module aligned  module_0 initialized">
                <div class="form-group">
                    {{ form.as_p }}
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Continue" class="default" name="_save">
            </div>
        </form>
    </div>
{% endblock content %}

{% block extrastyle %}
    <style>
        input[type=checkbox] {
            display: block !important;
        }
        .form-group p { display: flex; }
        .form-group p label { width: 160px; }
    </style>
{% endblock %}

